{{#each country in model}}
  <h1><span class="country-name"> {{country.name}}</span></h1>
  <p>Latitude, Longitude: {{country.latlng}}</p>
  <p>Region: {{country.subregion}}</p>
  <p>Population: {{country.population}}</p>
  <p>Timezones: {{country.timezones}}</p>
  <p>Calling Codes: {{country.callingCodes}}</p>
  <p>Currencies: {{country.currencies}}</p>
  <p>Capital: {{country.capital}}</p>
{{/each}}
